body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
    color: #D4D4D4;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 1200px; */
    overflow: hidden;
    text-align: center;

}

html {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;

}

.버튼 {
    cursor: pointer;

}

.버튼:hover {
    background-color: #3B3B40;

}