body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
    color: #D4D4D4;
    font-size: 14px;
    /* font-weight: 500; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: block; */
    height: 100%;
    overflow: hidden;
    text-align: center;

}

html {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;

}

div {
    margin: 3px 8px;
    padding: 3px 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #1F1F1F;

}

input {
    margin: 3px 8px;
    padding: 3px 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}

.상단바 {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #D4D4D4;
    border-radius: 0px;
    z-index: 9999;

}

.화면설명 {
    border-bottom: 1px solid #D4D4D4;
    border-radius: 0px;
    width: 100%;

}

.탑적용포지션앱솔 {
    position: absolute;

}

.양쪽정렬 {
    justify-content: space-between;

}

.세로정렬 {
    flex-direction: column;

}

.테두리사백픽셀 {
    width: 400px;
    border: 1px solid #D4D4D4;

}

.그냥사백픽셀 {
    width: 400px;

}

.버튼 {
    cursor: pointer;

}

.버튼:hover {
    background-color: #3B3B40;

}

.테두리버튼 {
    cursor: pointer;
    border: 1px solid #D4D4D4;

}

.테두리버튼:hover {
    background-color: #3B3B40;

}

.테두리만 {
    border: 1px solid #D4D4D4;

}