body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
    color: #D4D4D4;
    /* color: #BFBFBF; */
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 1200px; */
    overflow: hidden;
    text-align: center;

}

html {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;

}

.버튼 {
    cursor: pointer;

}

.버튼:hover {
    background-color: #3B3B40;

}

@keyframes 무지개흐름 {
    to {
        background-position: 200% center;
    }
}

.마법의팔레트주인장 {
    background: linear-gradient(90deg, #ff6ec4, #7873f5, #4adede, #4adede, #ff6ec4);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
    filter: brightness(1.2);
}

.마법의팔레트1위 {
    background: linear-gradient(90deg, #ffd700, #ffb400, #fff176, #ffb400, #ffd700);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
    filter: brightness(1.2);
}

.마법의팔레트2위 {
    background: linear-gradient(90deg, #cfd8dc, #b0bec5, #89abc2, #b0bec5, #cfd8dc);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
    filter: brightness(1.2);
}

.마법의팔레트3위 {
    background: linear-gradient(90deg, #cd7f32, #b87333, #dd9c70, #b87333, #cd7f32);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
    filter: brightness(1.2);
}

.마법의팔레트마신 {
    background: linear-gradient(90deg, #ff4d4d, #f574a1, #a54add, #dbc64c, #ff4d4d);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
    filter: brightness(1.2);
}

.마법의팔레트노랭 {
    background: linear-gradient(90deg, #fca235, #fbeb36, #c3fa37, #92f938, #fca235);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
}

.마법의팔레트초록 {
    background: linear-gradient(90deg, #39f84f, #3af799, #3bf6d1, #3cf2f5, #39f84f);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
}

.마법의팔레트보라 {
    background: linear-gradient(90deg, #447ced, #465ceb, #6847ea, #9047ea, #447ced);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
}

.마법의팔레트핑크 {
    background: linear-gradient(90deg, #da47ea, #ea47c7, #ea4796, #ea4762, #da47ea);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: 무지개흐름 3s linear infinite;
}

.네온박스 {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;

    width: 360px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #c653ff;
    border-radius: 10px;

    background-color: #1F1F1F;
    background-image: linear-gradient(to right, rgba(198, 83, 255, 0.15), rgba(255, 0, 150, 0.15));
    background-blend-mode: overlay;

    box-shadow:
        0 0 8px 0px rgba(198, 83, 255, 0.5),
        0 0 14px 0px rgba(255, 0, 150, 0.4),
        inset 0 0 4px #000;

    animation: 네온펄스 1.5s ease-in-out infinite alternate;
}


@keyframes 네온펄스 {
    0% {
        box-shadow:
            0 0 15px 5px rgba(198, 83, 255, 0.3),
            0 0 30px 5px rgba(255, 0, 150, 0.2),
            inset 0 0 6px #000;
        color: #b366ff;
    }

    100% {
        box-shadow:
            0 0 10px 10px rgba(198, 83, 255, 0.5),
            0 0 50px 10px rgba(255, 0, 150, 0.4),
            inset 0 0 10px #000;
        color: #ff99ff;
    }
}

.황금박스 {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    width: 360px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #ffd700;
    /* 골드 */

    border-radius: 10px;

    background-color: #1F1F1F;
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0.15), rgba(255, 255, 255, 0.1));
    background-blend-mode: overlay;

    box-shadow:
        0 0 10px 0px rgba(255, 215, 0, 0.5),
        0 0 16px 0px rgba(255, 255, 255, 0.4),
        inset 0 0 4px #000;

    animation: 황금펄스 1.5s ease-in-out infinite alternate;
}

@keyframes 황금펄스 {
    0% {
        box-shadow:
            0 0 18px 6px rgba(255, 215, 0, 0.4),
            0 0 30px 6px rgba(255, 255, 255, 0.2),
            inset 0 0 6px #000;
        color: #ffe066;
        /* 밝은 골드 */
    }

    100% {
        box-shadow:
            0 0 14px 10px rgba(255, 215, 0, 0.6),
            0 0 40px 12px rgba(255, 255, 255, 0.5),
            inset 0 0 10px #000;
        color: #ffffff;
        /* 하얀색 */
    }
}